@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

body {
	background-color: #FD6C9E;
    overflow: hidden;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.centered-div {
    position: absolute;
    height: 350px;
    width: 350px;
    margin: 10px;
}

#box-1 {
    z-index: 1;
    opacity: 1;
}

#box-2 {
    z-index: 2;
    opacity: 0;
}

#box-3 {
    z-index: 3;
    opacity: 0;
}

.rotate {
	animation: rotate 23s linear infinite;
}

.fade {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.faded {
	opacity: 0;
}

.dear-suky {
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
  	font-size: 21px;
  	font-family: "Roboto Slab", serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-style: normal;
}

#tap {
    position: absolute;
    top: 82.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    opacity: 1;
    height: 45px;
    width: auto;
}

.blink {
    animation: blink-animation 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink-animation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* 
falling hearts credit.
https://codepen.io/shubhamsingh718356/pen/PoGNVBb
*/

@keyframes fall {
  from {
     transform: translateY(0vh) translateX(-10vw); 
  }
  to {
     transform: translateY(105vh) translateX(10vw); 
  }
}

.heart {
  position: fixed;
  font-size: 1.5rem;
  top: -1vh;
  transform: translateY(0);
  animation: fall 3s linear forwards;
}
