@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

body {
	background-color: #FD6C9E;
}

.container {
	display: flex;
  	justify-content: center;
  	align-items: center;
  	height: 100vh; 
}

.centered-div {
	height: 350px;
	width: 350px;
	border: solid;
	margin: 10px;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.rotate {
	animation: rotate 23s linear infinite;
}

.fade {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.faded {
	opacity: 0;
}

.dear-suky {
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;
  	font-size: 21px;
  	font-family: "Roboto Slab", serif;
  	font-optical-sizing: auto;
  	font-weight: 600;
  	font-style: normal;
}
